
body {
text-align: center;
}
/* nav bar */
.icon{
    margin-bottom: 5px;
}
.icon:hover {
    color: paleturquoise;
}
.btt{
    margin-top: 5%;
}
.text2{
    width: 30%;
    margin-left:35%;

    padding: 5%;
}
.card{
padding: 0;
}
.pricing{
    margin:0px;
    padding-bottom:3%;
}
.navbar-brand {
    font-family:"Ubuntu";
    font-size:2.5rem ;
}

.Text1 h1{
    color: white;
    font-family:"M PLUS Rounded 1c";
    margin: 2rem;
    padding-top: 2.5rem;
    font-size:3.5rem;
    text-shadow: 4px 6px 9px black;

}
.btn:hover,.icon{
    color: #ef8172;
}
.feat{
    margin-left:10px;
    width: 30%;
    padding: 5%;

}
.row{
    margin-left: 3%;
}
.dog{
    padding-top: 5%;
    border-radius: 50%;
}
.coloured-section{
    background-color: #ff4c68;
}

        /* id sections*/
#press{
    padding-bottom: 5%;

}
#press img{
    padding: 2%;
}
#features{
    margin-top: 70px;
font-size: 1.5rem;
}


#features p{
    padding-top: 5%;
    color: #8f8f8f;

}

#testimonials {
    padding-top: 4%;
    padding-bottom: 3%;
    color: white;
    font-family: "M PLUS Rounded 1c";

    text-shadow: 4px 6px 9px black;
}

#cta h3 {
text-shadow: 2px 2px 5px white;
    padding: 10%;
    background-color: lightpink;
}
.iphone{

    max-height: 70%;
    margin-top: 117px;

    transform: rotate(25deg);
    filter: drop-shadow(19px 19px 20px black););
}

@media (max-width: 1197px) {

    .iphone{
        transform: rotate(0deg);
    }
}
